@model VideoStore.WebClient.ViewModels.MediaDetailsViewModel

@{
    ViewBag.Title = "ShowDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Item.Title</h2>

Director: @Model.Item.Director <br />
Genre: @Model.Item.Genre <br />
Price: @Model.Item.Price$ <br />
Amount in Stock: @Model.Item.StockCount <br />

