@model VideoStore.WebClient.ViewModels.MediaDetailsViewModel

@{
    ViewBag.Title = "ShowDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Item.Title</h2>

Director: @Model.Item.Director <br />
Genre: @Model.Item.Genre <br />
Price: @Model.Item.Price$ <br />
Amount in Stock: @Model.Item.StockCount <br />
Average Rating: @Model.AverageRating <br />

<hr />

<h3>Customer Reviews</h3>

Reviews Count: @Model.Reviews.Count <br />
@if (Model.Item.RatingCount == 0)
{
    <p>There are no reviews yet for this item. Be the first to create one !</p>
}

@Html.ActionLink("Create Review", "CreateReview", "CreateReview", routeValues: new { mediaId = Model.Item.Id }, htmlAttributes: null)
<br />

@foreach (var review in Model.Reviews)
{
    <tr>
        <td>
            <h4>@review.Title</h4>
            @review.ReviewerName | @review.ReviewLocation | @review.ReviewDate
            <br />
            Rating: @review.Rating
            <br />
            @review.ReviewDetails
        </td>
    </tr>
    <br />
}