@model VideoStore.WebClient.ViewModels.MediaDetailsViewModel

@{
    ViewBag.Title = "ShowDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Item.Title</h2>

Director: @Model.Item.Director <br />
Genre: @Model.Item.Genre <br />
Price: @Model.Item.Price$ <br />
Amount in Stock: @Model.Item.StockCount <br />

<hr />

<h3>Customer Reviews</h3>

Reviews Count: @Model.Reviews.Count <br />
@if (Model.Reviews.Count == 0)
{
    <p>There are no reviews yet for this item. Be the first to create one !</p>
}

@Html.ActionLink("Create Review", "CreateReview", "Review", routeValues: new { mediaId = Model.Item.Id }, htmlAttributes: null)